.tag{
    font-size: 14px;
    font-weight: 500;
    color: white;
    background:#FF6060;
    border: none;
    border-radius: 10px;
    min-width: 115px;
    padding: 0px 10px;
    height: 25px;
    margin-right: 10px;

}
@media screen and (max-width: 768px ){
    .tag{
        font-size: 10px;
        height: 18px;
        min-width: 100px;
    }
}
