.Logement-div{
    display: flex;
    justify-content: space-between;
}
.description-and-tag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 80px 0px 80px;
}
.Title-div{
    align-items: flex-start;
    display: flex;
    flex-flow: column;
}
.Title-div h1{
    font-size: 36px;
    font-weight: 500;
    margin: 0px;
    text-align: left;
}
.Title-div p{
    font-size: 18px;
    font-weight: 500;
}
.Author-div{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}
.Author-div p{
    font-size: 18px;
    font-weight: 500;
    width: 85px;
    text-align: right;
}

.Author-div img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.Author-and-rating{
    display: flex;
    flex-direction: column;
justify-content: space-between;
padding: 20px 80px 0px 80px;
}
.tag-div{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.rating-div{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px ){
    .Logement-div{
        flex-direction: column;
    }
    .description-and-tag{
        padding: 20px 20px 0px 20px;
    }
    .Title-div h1 {
        font-size: 18px;
    }
    .Title-div p {
        font-size: 14px;
        margin: 10px 0px;
    }
    .Author-and-rating{
        padding: 20px 20px 0px 20px;
        flex-direction: row-reverse;
        align-items: center;
    }
    .rating-div{
        gap: 5px;
    }
    .rating-div img{
        width: 18px;
        height: 18px;
    }
    .Author-div p{
        font-size: 12px;
        margin: auto;
        width: 63px;
        text-align: right;
    }
    .Author-div img{
        width: 32px;
        height: 32px;
    }
}
