.SectionCard{
    background :#F6F6F6;
    margin: 40px 80px;
    padding: 40px ;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: space-evenly;
    gap: 40px;
}
@media screen and (max-width: 768px) {

    .SectionCard{
        margin: 20px;
        padding: 0px;
        background: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}