.Card {
    margin: 0px;
    width: 340px;
    height: 340px;
    position: relative;
    border-radius: 10px;
}
.FondGris{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 340px;
    height: 340px;
    position: absolute;
    border-radius: 10px;
}
.Card img{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}
.Card figcaption{
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    left: 15px;
    top: 280px;
    width: 300px;
}
@media screen and (max-width: 768px) {
    .Card {
        height: 255px;
        width: 100%; 
    }
    .Card img{
        height: 255px;
         width: 100%; 
    }
    .FondGris{
        height: 255px;
        width: 100%; 
    }
    .Card figcaption{
        top: 205px;
        width: 85%;
    }
}