.Carrousel{
    height: 415px;
    padding: 30px 80px 0px 80px;
    position: relative;
}
.LogementImage{
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.ChevronNext{
    position: absolute;
    top: 200px;
    right: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.ChevronBack{
    position: absolute;
    top: 200px;
    left: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.NumberPage{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 400px;
    left: 50%;
}

@media screen and (max-width: 768px ){
.Carrousel{
    padding: 20px 20px 0px 20px;
    height: 255px;
}
.LogementImage{
    height: 255px;
}
.ChevronNext{
    top: 135px;
    right: 20px;
   
}
.ChevronNext img{
     width: 24px;
    height: 24px;
}
.ChevronBack{
    top: 135px;
    left: 20px;
}
.ChevronBack img{
    width: 24px;
    height: 24px;
}
.NumberPage {
    top: 233px;
    left: 48%;
    font-size: 14px;
}


}
    
