h1{
    font-size: 288px;
    color: #FF6060;
    text-align: center;
    margin : 100px 0px 50px 0px;
}
p{
    font-size: 36px;
    color: #FF6060;
    text-align: center;
}
.LinkHomePage{
    font-size: 18px;
    color: #FF6060;
    text-align: center;
    display: block;
}
@media screen and (max-width: 768px ){
    h1{
       font-size:  96px;
       margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        margin-bottom: 100px;
    }
    .LinkHomePage{
        font-size: 14px;
    }
}